@import '_colors.scss';

.Title {
    margin-top: 160px;
    margin-bottom: 30px;

    h1 {
        font-size: 52px;
        font-weight: 300;
        line-height: 1.12;
        letter-spacing: -2.1px;
        color: $title-color;
    }

    p {
        font-size: 22px;
        font-weight: 300;
        line-height: 1.45;
        text-align: center;
        color: $subtitle-color;
    }
}
