.Title {
    margin-top: 160px;
    margin-bottom: 30px;

    h1 {
        font-size: 52px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.12;
        letter-spacing: -2.1px;
        color: #43484d;
    }

    p {
        font-size: 22px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.45;
        letter-spacing: normal;
        text-align: center;
        color: #5e6977;
    }
}
