.OneTwoThree {
    .DynamicDataButtons {
        margin-top: 65px;

        .DynamicDataButton {
            display: flex;
            align-items: center;

            img {
                width: 56px;
                height: 45px;
            }

            .text-content {
                margin-left: 15px;
                padding: 5px 0;

                //  TODO da rivedere

                .title {
                    font-size: 18px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.39;
                    letter-spacing: normal;
                    margin: 0;
                    text-align: left;
                    color: #43484d;
                }

                .text {
                    font-size: 16px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.56;
                    letter-spacing: normal;
                    text-align: left;
                    color: #86939e;
                }
            }
        }
    }
}
