.OneTwoThree {
    .dynamic-data-container {
        position: relative;
        height: 455px;
        overflow-y: scroll;
        background-color: #f1f6f7;

        .loading {
            position: absolute;
            top: 50%;
            left: 50%;
        }
    }

    .DynamicDataButtons {
        margin-top: 65px;

        .DynamicDataButton {
            border-radius: 10px;
            cursor: pointer;

            padding: 5px;

            display: flex;
            align-items: center;

            img {
                width: 56px;
                height: 45px;
            }

            .text-content {
                margin-left: 15px;
                padding: 5px 0;

                .title {
                    font-size: 18px;
                    line-height: 1.39;
                    margin: 0;
                    text-align: left;
                    color: #43484d;
                }

                .text {
                    font-size: 16px;
                    line-height: 1.56;
                    text-align: left;
                    color: #86939e;
                }
            }

            &.selected {
                border: 2px solid #86939e;
            }
        }
    }
}
