@import '_colors.scss';

.Slider {
    margin-top: 156px;

    ol.carousel-indicators {
        position: initial;
        width: auto;
        text-align: left;
        margin: 0;
        margin-top: 30px;

        li {
            width: 6px;
            height: 6px;
            opacity: 0.2;
            background-color: $text-color;
            margin-right: 10px;
        }
        li.active {
            opacity: 1;
            width: 10px;
            height: 10px;
            background-color: $link-color;
        }
    }

    .img-container {
        text-align: center;
        margin-bottom: 20px;
        height: 460px;
        width: 100%;

        @media (max-width: 992px) {
            height: 250px;
        }

        img {
            &.carousel-intro {
                position: fixed;
                left: 0;

                @media (max-width: 992px) {
                    height: 250px;
                }
            }

            max-width: 100%;
            max-height: 100%;
        }
    }

    .carousel-control {
        background-image: none;
        position: absolute;
        top: 50%;
    }

    .caption {
        @media (min-width: 992px) {
            margin-top: 80px;
        }

        margin-left: 30px;
        height: 300px;

        text-shadow: none;

        h3 {
            font-size: 31px;
            font-weight: 300;
            line-height: 1.19;
            letter-spacing: -1.3px;
            text-align: left;
            color: $title-color;
        }

        p {
            font-size: 16px;
            line-height: 1.56;
            text-align: left;
            color: $text-color;

            a.learn-more {
                font-size: 16px;
                font-weight: 500;
                line-height: 1;
                color: $link-color;
                position: relative;
                cursor: pointer;

                &::after {
                    content: '';
                    position: absolute;
                    top: 8px;
                    width: 8px;
                    height: 8px;
                    margin-left: 5px;
                    border-right: 2px solid $link-color;
                    border-bottom: 2px solid $link-color;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}
