.Slider {
    height: 500px;
    margin-top: 156px;

    .carousel-indicators {
        li {
            width: 6px;
            height: 6px;
            opacity: 0.2;
            background-color: #86939e;
        }
        li.active {
            opacity: 1;
            width: 10px;
            height: 10px;
            background-color: #358ed7;
        }
    }

    // TODO vedere nei vari breakpoint delle media query
    img.carousel-intro {
        margin-left: -150px;
    }

    .carousel-control {
        background-image: none;
        position: absolute;
        top: 50%;
    }

    .caption {
        // top: 30%;
        // left: 60%;
        text-shadow: none;

        h3 {
            font-size: 32px;
            font-weight: 300;
            line-height: 1.19;
            letter-spacing: -1.3px;
            text-align: left;
            color: #43484d;
        }

        p {
            font-size: 16px;
            line-height: 1.56;
            text-align: left;
            color: #86939e;

            a.learn-more {
                font-size: 16px;
                font-weight: 500;
                line-height: 1;
                color: #358ed7;
                position: relative;
                cursor: pointer;

                &::after {
                    content: '';
                    position: absolute;
                    top: 8px;
                    width: 8px;
                    height: 8px;
                    margin-left: 5px;
                    border-right: 2px solid #358ed7;
                    border-bottom: 2px solid #358ed7;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}
