.Slider {
    margin-top: 156px;

    ol.carousel-indicators {
        position: initial;
        width: auto;
        text-align: left;
        margin: 0;
        margin-top: 30px;

        li {
            width: 6px;
            height: 6px;
            opacity: 0.2;
            background-color: #86939e;
            margin-right: 10px;
        }
        li.active {
            opacity: 1;
            width: 10px;
            height: 10px;
            background-color: #358ed7;
        }
    }

    img {
        &.carousel-intro {
            margin-left: -150px;
        }

        @media (max-width: 992px) {
            max-width: 100%;
            height: auto;
            display: block;
        }
    }

    .carousel-control {
        background-image: none;
        position: absolute;
        top: 50%;
    }

    .caption {
        @media (min-width: 992px) {
            margin-top: 80px;
        }
        height: 300px;

        text-shadow: none;

        h3 {
            font-size: 32px;
            font-weight: 300;
            line-height: 1.19;
            letter-spacing: -1.3px;
            text-align: left;
            color: #43484d;
        }

        p {
            font-size: 16px;
            line-height: 1.56;
            text-align: left;
            color: #86939e;

            a.learn-more {
                font-size: 16px;
                font-weight: 500;
                line-height: 1;
                color: #358ed7;
                position: relative;
                cursor: pointer;

                &::after {
                    content: '';
                    position: absolute;
                    top: 8px;
                    width: 8px;
                    height: 8px;
                    margin-left: 5px;
                    border-right: 2px solid #358ed7;
                    border-bottom: 2px solid #358ed7;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}
