@import '_colors.scss';

.Header {
    background-color: #ffffff;
    box-shadow: 2.4px 1.8px 3px 0 rgba(0, 0, 0, 0.1);
    margin-right: 2px;

    .navbar-brand {
        height: 94px;
    }

    .navbar-toggle {
        margin-top: 30px;
    }

    .navbar-nav > li > a {
        line-height: 64px;
        font-size: 16px;
        font-weight: 500;
        color: $text-color;
    }
}
